body{
    background-color: #ffffff;
}


a {
    float: left;
    color: white;
    text-align: center;
   
    text-decoration: none;
    font-size: 17px;
}

.logo {
    display: block;
    margin:auto;
   
    width:100px;
    height: 100px;
}

hr {
    background-color:#635068;
    width:75%;
    text-align:center;
    height:3px;
}

.mainbox {
  background-color:#E1E5F2;
  margin: auto;

  
}

.navbar {
    margin: auto; 
    padding: 0; 
    
    background-color: #635068; 
    overflow: hidden;
    font-family:'Noto Serif', serif;
    display:flex;
    justify-content: space-around;
   
    
}


.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 17px;
    margin:auto;
    }



.navbar a:hover{
    background-color: white;
    color: #71697A;
   
}

.navbar .icon {
    display: none;
  }

h1 {
    font-family:'Oswald', sans-serif;
    color: #022B3A;
    text-align: center;
    margin: auto;
    padding:5px;
}

h2, h3, h4 , h5, h6{
    font-family: 'Oswald', sans-serif;
    color: #022B3A;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size:20px;
  color: #022B3A;
}

#about {
  color: #264653;
}


.button {
    background-color: #71697A; 
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    width:250px;
    font-size: 16px;
    border-radius: 9px;
    margin: 20px;
    padding: 20px;
  }

  .button:hover {
    background-color: #635068;
    color: white;

}



li {
  font-family: 'Oswald', sans-serif;
  font-size:20px;
}

.visitButton {
  color:white;
  background-color:#71697A;
  font-family: 'Oswald', sans-serif;
}

.bubble {
  background-color: #ffffff;
}

.icons{
  background-color:#71697A;
}

.tofuPic {
  width:500px; 
  height:350px; 
  display: block; 
  
}

.catImg {
  width:300px; 
  height:400px; 
  display: block; 
}

.image{
  max-width: 500px;
  max-height: 500px;
}

#customName {
  max-width: 100px;
}



#storyBox {
  background-color: aqua;
  max-width: 500px;
  max-height: 500px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Referenced from W3 Schools */
@media screen and (max-width: 400px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 400px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: flex;
      text-align: left;
    }
  }

  @media screen and (max-width: 400px) {
    .button {
      width:auto;
    }
  }