body{
    background-color: #E1E5F2;
}


a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

hr {
    background-color:#635068;
    width:75%;
    text-align:center;
    height:3px;
}

.navbar {
    margin: 0; 
    padding: 0; 
    background-color: #635068; 
    overflow: hidden;
    font-family:'Noto Serif', serif;
}

.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }



.navbar a:hover{
    background-color: white;
    color: #71697A;
}

.navbar .icon {
    display: none;
  }

h1 {
    font-family:'Noto Serif', serif;
    color: #022B3A;
}

h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    color: #022B3A;
}

#about {
    display: flex;
    flex-direction: column;
}



.button {
    background-color: #71697A; 
    color: white;
    text-align: center;
    width:250px;
    font-size: 16px;
    border-radius: 9px;
    margin: 20px;
    padding: 20px;
  }

  .button:hover {
    background-color: #635068;
    color: white;

}

/* Referenced from W3 Schools */
@media screen and (max-width: 400px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 400px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: flex;
      text-align: left;
    }
  }

  @media screen and (max-width: 400px) {
    .button {
      width:auto;
    }
  }